<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

  </head>
  <body>

  <div class="container">
  

    <div id="register_content">
      <h1>Register</h1>
      <p class="lead">(Start using Lockness!)</p><br>
      <form role="form" action="/register" method="post" style="max-width: 300px;">
        
        <div class="form-group">
          <input type="text" name="username" placeholder="Enter Username" class="form-control">
        </div>
        
        <div class="form-group">
          <input type="text" name="firstname" placeholder="Enter your First Name" class="form-control">
        </div>

        <div class="form-group">
          <input type="text" name="email" placeholder="Enter your E-mail" class="form-control">
        </div>

        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
          <input type="password" name="password_2" placeholder="Confirm Password" class="form-control">
        </div>



        <button type="submit" class="btn btn-default">Submit</button>&nbsp;
        <a href="/"><button type="button" class="btn btn-primary">Nevermind</button></a>
      </form>
  </div>
  


  </div>
  </body>
</html>