@font-face { font-family: Josefin; src: url('JosefinSlab-Regular.ttf'); } 
@font-face { font-family: Freight; src: url('fonts/freight.otf'); } 


html,body{
    
    background-color:white;
    margin:0px;
    height:100%;
    padding:0px;
    overflow-x: hidden; 

}

#section_top_bg {
    margin-top:70px;
    padding:0px;
    margin:0px;
    background-image:url('img/blog_tablet.JPG');
    width:100%;
    height:100%;
    background-attachment:fixed; 
    background-size:cover;
}

#section_top_overlay {
    background-color:rgba(0,0,0,0.3);
    height:100%;
    width:100%;
    padding-top:30px;

}

#section_top_content{

	text-align:center;
}

h1{

	font-family: 'Josefin',sans-serif;
	color:white;
	font-size:76px;
}
h2{
	color:rgba(255,255,255,0.7);
	font-family: 'Freight',sans-serif;

}

#input_field_name, #input_field_pw{

	font-family: 'Freight',sans-serif;
	font-size:21px;


}



#login_button{

	background-color:#2ecc71;
	border:#2ecc71;
	width:200px;
	height:43px;
	font-size:18px;
	font-family: 'Freight',sans-serif;

}


#login_button:hover
{ 
background-color:#27ae60;
}

#login_form_button{
	background-color:#2ecc71;
	border:#2ecc71;
	width:140px;
	color:white;
	font-family: 'Freight',sans-serif;

	
}
#login_form_button:hover
{ 
background-color:#27ae60;
}

#register_form_button{
	background-color:#3498db;
	border:#3498db;
	width:140px;
	color:white;
	font-family: 'Freight',sans-serif;
	
}
#register_form_button:hover
{ 
background-color:#2980b9;
}

#main_div{

	margin-left:auto;
	margin-right:auto;
	border:1px solid black;


}

#content{

	margin-left:auto;
	margin-right:auto;
	width:200px;

}

#title{

	font-family: 'Josefin',sans-serif;
}

#register_container_div{

	margin-left:auto;
	margin-right:auto;
	width:100%;
}

#register_content{

	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	max-width:350px;

}